<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- 控制台输出配置 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出配置 -->
    <appender name="File" class="ch.qos.logback.core.FileAppender">
        <file>logs/sina_download.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 根日志记录器 -->
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>

    <logger name="org.apache.http" level="ERROR"/>
    <logger name="org.apache.http.client" level="ERROR"/>
    <logger name="org.apache.http.client.protocol" level="ERROR"/>


</configuration>
